<div class="card bg-dark text-white">
  <div class="card-body">
    <form>
        <h1>Ingreso</h1>
        <div class="form-group row">
            <label for="producto" class="col-form-label col-sm-3">Producto</label>
            <div class="col-sm-6">
                <input type="text" class="form-control"  name="producto" required [(ngModel)] = "medicamento.nombre">
            </div>
        </div>
        <div class="form-group row">
            <label for="precio" class="col-form-label col-sm-3">Precio</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="precio" required [(ngModel)] = "medicamento.precio">
            </div>
        </div>
        <div class="form-group row">
            <label for="stock" class="col-form-label col-sm-3">Stock</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="stock" required [(ngModel)] = "medicamento.cantidad">
            </div>
        </div>
        <div class="form-group row">
            <label for="descripcion" class="col-form-label col-sm-3" >Descripcion</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="descripcion" required [(ngModel)] = "medicamento.descripcion">
            </div>
        </div>
        <div class="form-group row">
          <label for="formato" class="col-form-label col-sm-3">Formato</label>
          <div class="col-sm-6">
              <input type="text" class="form-control" name="formato" required [(ngModel)] = "medicamento.formato">
          </div>
      </div>
      <div class="form-group row">
          <label for="contraindicadores" class="col-form-label col-sm-3" >Contraindicacion</label>
          <div class="col-sm-6">
              <input  required type="text" class="form-control" name="contraindicadores" [(ngModel)] = "medicamento.contraindicacion">
          </div>
      </div>
      <div class="form-group row">
          <label for="laboratorio" class="col-form-label col-sm-3" >Laboratorio</label>
          <div class="col-sm-6">
              <input required type="text" class="form-control" name="laboratorio" [(ngModel)] = "medicamento.laboratorio">
          </div>
      </div>
        <div class="btnguardar">
        <button type="submit" class="btn btn-primary" (click)="guardarMedicamento()">Guardar</button>
        </div>
    </form>
  </div>
</div>
