<div class="card bg-dark text-white">
  <div class="card-body">
    <form>
        <h1>Ingreso</h1>
        <div class="form-group row">
            <label for="producto" class="col-form-label col-sm-2">Producto</label>
            <div class="col-sm-6">
                <input type="text" class="form-control"  name="producto" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="precio" class="col-form-label col-sm-2">Precio</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="precio" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="stock" class="col-form-label col-sm-2">Stock</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="stock" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="descripcion" class="col-form-label col-sm-2" required>Descripcion</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="descripcion">
            </div>
        </div>
        <div class="btnguardar">
          <button id="btnBack"type="button" class="btn btn-link" (click)="backClicked()">Volver</button>
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
    </form>
  </div>
</div>
