<ul class="list-group">
    <li class="list-group-item active">Detalles Producto</li>
    <li class="list-group-item">Macarilla</li>
    <li class="list-group-item">Precio: 2.000</li>
    <li class="list-group-item">Stock: 10</li>
    <li class="list-group-item">Descripcion : Protector bucal de 3 capas</li>
</ul>
<div class="centrar">
    <button [routerLink]="'/ingresoProducto'" type="button" class="btn btn-success">Editar</button>
    <button type="button" class="btn btn-danger">Eliminar</button>
</div>