<div class="contenedor-detalles">
  <ul class="list-group">
      <li class="list-group-item active">Detalles Producto</li>
      <li class="list-group-item">Producto: {{medicamento.nombre}} </li>
      <li class="list-group-item">Precio: ${{medicamento.precio}}</li>
      <li class="list-group-item">Stock: {{medicamento.cantidad}}</li>
      <li class="list-group-item">Descripcion: {{medicamento.descripcion}}</li>
      <li class="list-group-item">Formato: {{medicamento.formato}}</li>
      <li class="list-group-item">Contraindicaciones: {{medicamento.contraindicacion}}</li>
      <li class="list-group-item">Laboratorio: {{medicamento.laboratorio}}</li>
  </ul>
  <div class="centrar">
      <button type="button" class="btn btn-success" >Editar</button>
  </div>
</div>

