<div class="contenedor-detalles">
  <ul class="list-group">
      <li class="list-group-item active">Detalles Producto</li>
      <li class="list-group-item">Producto </li>
      <li class="list-group-item">Stock: 10</li>
      <li class="list-group-item">Precio: 2000</li>
      <li class="list-group-item">Descripcion : Protector bucal de 3 capas</li>
      <li class="list-group-item">Formato: unidad</li>
      <li class="list-group-item">Contraindicaciones: no usar por más de 4 horas</li>
      <li class="list-group-item">Laboratorio: no aplica</li>
  </ul>
  <div class="centrar">
      <button type="button" class="btn btn-success" >Editar</button>
  </div>
</div>

