<button [routerLink]="'/ingresoCliente'" id="btncrear" type="button" class="btn btn-dark">Crear Cliente</button>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Email</th>
        <th>Fecha Nacimiento</th>
        <th>Acciones</th>
        <th>Crear Facturas</th>
        <th>Detalles</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Ali</td>
        <td>Son</td>
        <td>ali@gmail.com</td>
        <td>1000-10-10</td>
        <td>
            <ul class="list-inline m-0">
                <li class="list-inline-item">
                    <button [routerLink]="'/ingresoCliente'" id="btnEdit" class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Edit"><img src="../../assets/icon/Edit_icon-icons.com_71853.png" alt=""></button>
                </li>
                <li class="list-inline-item">
                    <button id="btnDelete" class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Delete"><img src="../../assets/icon/seo-social-web-network-internet_262_icon-icons.com_61518.png" alt=""></button>
                </li>
            </ul>
        </td>
        <td>
          <button [routerLink]="'/crearfactura'" class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Crear">Crear Factura</button>
        </td>
        <td>
          <button [routerLink]="'/detallescliente'" class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Crear">Detalles</button>
        </td>
      </tr>
    </tbody>
  </table>
