<div class="login-dark">
  <div class="form">
      <div class="illustration">
        <i class="icon ion-ios-locked-outline"></i>
      </div>
      <div class="form-group">
        <input class="form-control" type="text" placeholder="Nombre de Usuario" [(ngModel)]="user.nombreUsuario">
      </div>
      <div class="form-group">
        <input class="form-control" type="password" placeholder="Password" [(ngModel)]="user.claveUsuario">
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block" (click)="ingresar()">Ingresar</button>
      </div>
  </div>
</div>
