<div class="contenedor">
<div class="izquierda">
    <button [routerLink]="'/ingresoProducto'" id="btncrear" type="button" class="btn btn-info">Crear Producto</button>
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>Producto</th>
            <th>Stock</th>
            <th>Precio</th>
            <th>Detalles</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of medicamentos">
            <td>
                {{row.nombre}}
            </td>
            <td>
              {{row.cantidad}}
            </td>
            <td>
              {{row.precio}}
            </td>
            <td>
              <button routerLink='detallesproductos' class="btn btn-info btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="detalles">Detalles</button>
            </td>
            <td>
              <button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="editar">Editar</button>
              <button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="eliminar">Eliminar</button>
              <button [routerLink] = "['ingresoProducto']" [queryParams]="{ id: medicamento.id}">Editar</button>
            </td>
          </tr>
        </tbody>
    </table>
</div>
<div class="derecha">
  <router-outlet></router-outlet>
</div>
</div>
