.contenedor{
  display: flex;
  flex-flow: row nowrap;

}
.izquierda{
  min-width: 40%;
  margin-right: 2%;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 6px #00000059;
  padding: 30px;
}
.derecha{
  background: #FFFFFF 0% 0% no-repeat padding-box;
            box-shadow: 0px 3px 6px #00000059;
}
#btncrear{
    margin-bottom: 1%;
}
