<div>
    <button [routerLink]="'/ingresoProducto'" id="btncrear" type="button" class="btn btn-info">Crear Producto</button>
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>Producto</th>
            <th>Precio</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
                <a [routerLink]="'/detallesproductos'">Mascarilla</a>
               </td>
            <td>$2.000</td>
          </tr>
        </tbody>
    </table>
</div>
