<div class="testTable">
    <div class="contTable mat-elevation-z8">
        <button routerLink='ingresoProducto' id="btncrear" type="button" title="crear" class="btn btn-info">Crear Producto</button>
      <table mat-table [dataSource]="dataSource">

        <!-- Nombre Column -->
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef> Medicamento </th>
          <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="precio">
          <th mat-header-cell *matHeaderCellDef> Precio </th>
          <td mat-cell *matCellDef="let element"> $ {{element.precio}} </td>
        </ng-container>

        <!-- Stock Column -->
        <ng-container  matColumnDef="cantidad">
          <th mat-header-cell *matHeaderCellDef> Stock </th>
          <td mat-cell *matCellDef="let element"> {{element.cantidad}} </td>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <th id="acciones" mat-header-cell *matHeaderCellDef> Acciones </th>
          <td mat-cell *matCellDef="let element">
            <button routerLink="detallesmedicamento/{{element.id}}"  mat-stroked-button color='primary'>
              <mat-icon>description</mat-icon>
            </button>
            <button routerLink= "ingresoProducto/" [queryParams] = "{id:element.id}" mat-stroked-button >
              <mat-icon>edit</mat-icon>
            </button>
            <button (click)="eliminar(element.id)" mat-stroked-button color="warn">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <div class="paginacion">
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>
    </div>
    <div class="derecha">
      <router-outlet></router-outlet>
    </div>
</div>
