<ul class="list-group">
    <li class="list-group-item active">Datos Cliente</li>
    <li class="list-group-item">Ali</li>
    <li class="list-group-item">Son</li>
</ul>
<ul class="list-group">
    <li class="list-group-item active">Datos Factura</li>
    <li class="list-group-item">Folio: 1</li>
    <li class="list-group-item">Descripcion : Factura remedios</li>
    <li class="list-group-item">2019-10-10</li>
</ul>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Producto</th>
        <th>Precio</th>
        <th>Cantidad</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Mascarilla</td>
        <td>$2.000</td>
        <td>10</td>
        <td>$20.000</td>
      </tr>
    </tbody>
</table>
<ul class="list-group">
    <li class="list-group-item active">Observaciones</li>
    <li class="list-group-item">No hay observaciones</li>
</ul>